<p class="text-center p-2 font-serif text-4xl font-medium">Your Cart 🛒</p>

<div class="p-5">
  <ng-container *ngIf="loading; else elseBlock">
    <div class="flex flex-wrap gap-10 justify-center">
      <div *ngFor="let el of skeleton">
        <app-skeleton></app-skeleton>
      </div>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div
      class="p-6 border-2 bg-gray-100 justify-around gap-20 flex flex-col sm:flex-col md:flex-col lg:flex-row xl:flex-row border-gray-200 border-dashed rounded-lg dark:border-gray-700"
    >
      <div class="flex flex-col overflow-auto gap-10">
        <div *ngFor="let book of cartList; index as i">
          <a
            class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-3xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <img
              class="rounded-t-lg h-56 md:rounded-none md:rounded-s-lg"
              src="{{ book?.image }}"
              alt=""
            />
            <div class="flex items-center justify-between pl-4 pr-4 w-full">
              <div class="flex flex-col justify-between p-4 leading-normal">
                <p
                  class="mb-2 text-2xl font-medium tracking-tight text-gray-900 dark:text-white"
                >
                  <span class="text-red-500">Title:</span> {{ book?.title }}
                </p>
                <p
                  class="mb-3 text-[17px] font-medium text-gray-700 dark:text-gray-400"
                >
                  <span class="text-red-500">Author:</span> {{ book?.author }}
                </p>

                <p class="text-[17px] font-medium">
                  <span class="text-red-500">Category:</span>
                  {{ book?.category }}
                </p>
                <p class="text-[20px] font-medium">
                  <span class="text-red-500">Price:</span> ${{
                    book?.price?.value * book.quantity
                  }}
                </p>
              </div>

              <div class="flex flex-col gap-10">
                <div class="flex gap-3 items-center justify-center">
                  <button
                    (click)="increaseQuantity(book)"
                    class="border p-1 rounded-full bg-blue-600"
                  >
                    ➕
                  </button>
                  <p class="text-lg font-medium">{{ book.quantity || 1 }}</p>
                  <button
                    (click)="decreaseQuantity(book)"
                    class="border p-1 rounded-full bg-red-600"
                  >
                    ➖
                  </button>
                </div>
                <button
                  (click)="removeFromCart(book._id)"
                  mat-raised-button
                  color="warn"
                >
                  🗑 Remove
                </button>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="w-full sm:w-full md:w-full lg:w-96 xl:w-96">
        <p class="text-xl text-red-500 font-medium">🚚 Free Shipping</p>
        <p>Get free shipping on all orders over $200</p>

        <div class="relative overflow-x-auto border rounded-md">
          <p class="pl-6 text-xl font-medium bg-gray-300 text-gray-600 p-2">
            Cart Total
          </p>

          <table
            class="w-full text-lg text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <tbody>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 py-4 text-lg font-serif font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Subtotal:
                </th>
                <td class="px-6 text-lg py-4">{{ subTotal | currency }}</td>
              </tr>
              <tr class="bg-white dark:bg-gray-800">
                <th
                  scope="row"
                  class="px-6 py-4 text-lg font-serif font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  Shipping
                </th>
                <td class="px-6 text-lg py-4">{{ shipping | currency }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="font-semibold bg-red-500 text-white dark:text-white">
                <th scope="row" class="px-6 font-serif py-3 text-lg">Total</th>
                <td class="px-6 text-lg py-3">
                  {{ subTotal + shipping | currency }}
                </td>
              </tr>
            </tfoot>
          </table>
          <div class="m-auto w-[96%] my-10">
            <button
              (click)="checkoutBtn()"
              [disabled]="subTotal === 0"
              type="button"
              class="text-white disabled:bg-blue-300 w-full disabled:cursor-not-allowed bg-[#2557D6] hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-md text-sm px-5 py-3 text-center inline-flex items-center justify-center dark:focus:ring-[#2557D6]/50 me-2 mb-2"
            >
              ✔ Checkout to Payment
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="cartLength === 0" class="flex justify-center items-center">
        <img
          src="https://tjconcepts.in/wp-content/themes/tjcon/assets/img/norecordfound.png"
          alt=""
        />
      </div>
    </div>
  </ng-template>
</div>

<div
  class="overlay"
  [style.display]="showOverlay ? 'flex' : 'none'"
  id="overlay"
>
  <div class="popup" id="popup">
    <h2>Order Successful!</h2>
    <div class="flex justify-center items-center">

      <svg
      class="w-28 h-28"
      viewBox="0 0 1024 1024"
      xmlns="http://www.w3.org/2000/svg"
      fill="#000000"
      stroke="#000000"
      >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke="#CCCCCC"
      stroke-width="2.048"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
        fill="#23955a"
        d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm-55.808 536.384-99.52-99.584a38.4 38.4 0 1 0-54.336 54.336l126.72 126.72a38.272 38.272 0 0 0 54.336 0l262.4-262.464a38.4 38.4 0 1 0-54.272-54.336L456.192 600.384z"
        ></path>
      </g>
    </svg>
  </div>
    <p>Your order has been placed successfully.</p>
    <button id="closeButton" (click)="closeBtn()">Close</button>
  </div>
</div>
