<form (ngSubmit)="fetchBookData()">
  <label
    for="default-search"
    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >Search</label
  >
  <div class="relative m-auto w-full lg:w-1/2 mt-3">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <svg
        class="w-4 h-4 text-gray-500 dark:text-gray-400"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 20 20"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
        />
      </svg>
    </div>
    <input
      type="search"
      id="default-search"
      name="search"
      (input)="(searchText)"
      [(ngModel)]="searchText"
      class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search Books, Authors..."
      required
    />
    <button
      type="submit"
      class="text-white absolute end-2.5 bottom-1.5 bg-[#F65D4E] hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Search
    </button>
    <!--  -->
    <svg
      class="w-4 h-4 absolute end-28 bottom-4 cursor-pointer"
      (click)="clearSearch()"
      *ngIf="searchText"
      fill="#000000"
      viewBox="0 0 32 32"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g
        id="SVGRepo_tracerCarrier"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></g>
      <g id="SVGRepo_iconCarrier">
        <path
          d="M7.004 23.087l7.08-7.081-7.07-7.071L8.929 7.02l7.067 7.069L23.084 7l1.912 1.913-7.089 7.093 7.075 7.077-1.912 1.913-7.074-7.073L8.917 25z"
        ></path>
      </g>
    </svg>
  </div>
</form>

<div id="main" class="border-t-[1px] mt-5 relative">
  <button
    data-drawer-target="default-sidebar"
    data-drawer-toggle="default-sidebar"
    aria-controls="default-sidebar"
    type="button"
    class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden md:hideen hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
  >
    <span class="sr-only">Open sidebar</span>
    <svg
      class="w-6 h-6"
      aria-hidden="true"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        clip-rule="evenodd"
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
      ></path>
    </svg>
  </button>

  <aside
    id="default-sidebar"
    class="fixed sm:absolute md:absolute top-12 sm:top-0 lg:top-0 md:top-0 left-0 z-40 w-60 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
  >
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <div class="text-[17px] flex flex-col space-y-4">
        <h3 class="">Filter By Category</h3>
        <hr />

<!-- 'All' Checkbox -->
<div class="flex space-x-2 mt-2 items-center">
  <input type="checkbox" name="category" [checked]="selectedCategory === ''" [disabled]="selectedCategory === ''" (change)="selectCategory('')" class="cursor-pointer" />
  <label>All</label>
</div>

<!-- Individual Category Checkboxes -->
<div *ngFor="let cat of categories" class="flex space-x-2 items-center mt-2">
  <input
    type="checkbox"
    name="category"
    [value]="cat"
    [checked]="selectedCategory === cat"
    [disabled]="selectedCategory === cat"
    (change)="selectCategory(cat)"
    class="cursor-pointer"
  />
  <label>{{ cat }}</label>
</div>



        <hr />
        <h3>Filter By Authors</h3>
        <hr />

        <div class="flex space-x-2 mt-2 items-center">
          <input type="checkbox" name="authors" [checked]="selectedAuthor===''" [disabled]="selectedAuthor === ''" (change)="selectAuthor('')" class="cursor-pointer" />
          <label>All</label>
        </div>
        <div
          *ngFor="let auth of authors"
          class="flex space-x-2 items-center mt-2"
        >
          <input
            type="checkbox"
            name="authors"
            [value]="auth"
            (change)="selectAuthor(auth)"
            [checked]="selectedAuthor === auth"
            [disabled]="selectedAuthor === auth"
            class="cursor-pointer"
          />
          <label>{{ auth }}</label>
        </div>
      </div>
    </div>
  </aside>

  <div class="p-5 sm:ml-64">
    <ng-container *ngIf="loading; else elseBlock">
      <div class="flex flex-wrap gap-10 justify-center">
        <div *ngFor="let el of skeleton">
          <app-skeleton></app-skeleton>
        </div>
      </div>
    </ng-container>

    <ng-template #elseBlock>
      <div
        class="p-6 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700"
      >
        <div class="flex flex-wrap justify-around gap-10">
          <div *ngFor="let book of bookList; index as i">
            <div class="shrink-0" >
              <div
                class="m-auto flex justify-center w-[90%] relative image-container cursor-pointer"
              >
                <img
                routerLink='/books/details/{{book._id}}'
                  src="{{ book.image }}"
                  alt=""
                  class="h-[400px] md:h-[350px] rounded-2xl hover:drop-shadow-xl"
                />
                <div
                  class="flex icon-group opacity-0 transition-opacity duration-300 flex-col space-y-1 top-[78%] left-[85%] absolute"
                >
                  <svg
                    class="w-10 h-10"
                    (click)="addToCart(book)"
                    viewBox="-5.04 -5.04 34.08 34.08"
                    [attr.fill]="cartColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                      <rect
                        x="-5.04"
                        y="-5.04"
                        width="34.08"
                        height="34.08"
                        rx="17.04"
                        fill="#ffffff"
                        strokewidth="0"
                      ></rect>
                    </g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M3.86376 16.4552C3.00581 13.0234 2.57684 11.3075 3.47767 10.1538C4.3785 9 6.14721 9 9.68462 9H14.3153C17.8527 9 19.6214 9 20.5222 10.1538C21.4231 11.3075 20.9941 13.0234 20.1362 16.4552C19.5905 18.6379 19.3176 19.7292 18.5039 20.3646C17.6901 21 16.5652 21 14.3153 21H9.68462C7.43476 21 6.30983 21 5.49605 20.3646C4.68227 19.7292 4.40943 18.6379 3.86376 16.4552Z"
                        stroke="#000000"
                        stroke-width="1.5"
                      ></path>
                      <path
                        opacity="0.5"
                        d="M19.5 9.5L18.7896 6.89465C18.5157 5.89005 18.3787 5.38775 18.0978 5.00946C17.818 4.63273 17.4378 4.34234 17.0008 4.17152C16.5619 4 16.0413 4 15 4M4.5 9.5L5.2104 6.89465C5.48432 5.89005 5.62128 5.38775 5.90221 5.00946C6.18199 4.63273 6.56216 4.34234 6.99922 4.17152C7.43808 4 7.95872 4 9 4"
                        stroke="#000000"
                        stroke-width="1.5"
                      ></path>
                      <path
                        d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4C15 4.55228 14.5523 5 14 5H10C9.44772 5 9 4.55228 9 4Z"
                        stroke="#000000"
                        stroke-width="1.5"
                      ></path>
                    </g>
                  </svg>
                  <!--  -->
                  <svg
                    viewBox="-12.24 -12.24 60.48 60.48"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    class="iconify iconify--twemoji"
                    preserveAspectRatio="xMidYMid meet"
                    fill="#000000"
                    stroke="#000000"
                    stroke-width="0.00036"
                  >
                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                      <rect
                        x="-12.24"
                        y="-12.24"
                        width="60.48"
                        height="60.48"
                        rx="30.24"
                        fill="#ffffff"
                        strokewidth="0"
                      ></rect>
                    </g>
                    <g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        fill="#DD2E44"
                        d="M35.885 11.833c0-5.45-4.418-9.868-9.867-9.868c-3.308 0-6.227 1.633-8.018 4.129c-1.791-2.496-4.71-4.129-8.017-4.129c-5.45 0-9.868 4.417-9.868 9.868c0 .772.098 1.52.266 2.241C1.751 22.587 11.216 31.568 18 34.034c6.783-2.466 16.249-11.447 17.617-19.959c.17-.721.268-1.469.268-2.242z"
                      ></path>
                    </g>
                  </svg>
                  <!--  -->
                </div>
              </div>
              <div class="ml-7 mr-7 mt-4 flex flex-col space-y-1">
                <a
                  class="text-xl font-medium text-ellipsis whitespace-nowrap overflow-hidden w-[180px]"
                  >{{ book.title }}</a
                >
                <div class="flex items-center">
                  <div class="flex items-center space-x-1 rtl:space-x-reverse">
                    <svg
                      class="w-4 h-4 text-orange-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-orange-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-orange-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-orange-500"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-gray-200 dark:text-gray-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 22 20"
                    >
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                      />
                    </svg>
                  </div>
                  <span
                    class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3"
                    >5.0</span
                  >
                </div>
                <h4 class="font-bold mt-2">{{ book.author }}</h4>
                <span class="text-2xl font-medium text-red-500 dark:text-white"
                  >${{ book.price.value }}</span
                >
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="bookList.length === 0"
          class="flex justify-center items-center"
        >
          <img
            src="https://tjconcepts.in/wp-content/themes/tjcon/assets/img/norecordfound.png"
            alt=""
          />
        </div>
      </div>
    </ng-template>
  </div>
</div>
